<Configuration>
	<General>
		<Setting name="SelectedTest" value="AdioLibraryTests" type="String"/>
		<Setting name="Categories.Enabled" value="False" type="Boolean"/>
		<Setting name="Categories.ExcludeSelected" value="False" type="Boolean"/>
	</General>
	<Form>
		<Setting name="WindowState" value="0" type="Integer"/>
		<Setting name="Left" value="2745" type="Single"/>
		<Setting name="Top" value="2460" type="Single"/>
		<Setting name="Width" value="13530" type="Single"/>
		<Setting name="Height" value="9000" type="Single"/>
		<Setting name="SplitterPosition" value="5970" type="Long"/>
	</Form>
	<TreeViewExpanded>
		<Setting name="AdioLibraryTests" value="True" type="Boolean"/>
		<Setting name="AdioLibraryTests.TestAdioTagging" value="True" type="Boolean"/>
		<Setting name="AdioLibraryTests.TestAdioPlaylist" value="True" type="Boolean"/>
	</TreeViewExpanded>
	<Categories.Selected/>
</Configuration>
